.about-me {
  font-family: Arial, sans-serif;
  color: #1f6feb;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  line-height: 1.6;
}

.intro-section {
  text-align: center;
  margin-bottom: 40px;
}

.intro-section h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.intro-section p {
  font-size: 18px;
  color: #ffffff;
}

.career-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.career-section p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background-color: #58a6ff;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  /* border: 1px solid #ddd; */
}
