.about-me {
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.about-me h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 16px;
  color: var(--secondary-text-color);
  margin-bottom: 15px;
}

.about-me .btn {
  text-decoration: none;
  color: white;
  background-color: var(--button-bg-color);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.about-me .btn:hover {
  background-color: var(--button-hover-bg-color);
}
