@import '../styles/_variables.scss';

.homepage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  padding: 0 50px;
  background-color: $background-color;
  color: $text-color;
}

.homepage-left {
  max-width: 50%;

  h2 {
    font-size: 18px;
    color: $secondary-text-color;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h1 {
    font-size: 48px;
    margin: 10px 0;
    color: $text-color;

    .highlight {
      color: $link-color;
    }
  }

  p {
    font-size: 16px;
    color: $secondary-text-color;
    margin: 20px 0;
  }
}

.homepage-buttons {
  display: flex;
  gap: 15px;

  .btn {
    text-decoration: none;
    color: white;
    background-color: $button-bg-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button-hover-bg-color;
    }
  }
}

.homepage-right {
  max-width: 40%;

  .homepage-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }
}
